PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE matches (
            match_id INTEGER PRIMARY KEY AUTOINCREMENT,
            match_name TEXT,
            match_date TEXT,
            venue_id INTEGER
        );
INSERT INTO matches VALUES(1,'Laramie Precision Rifle Rodeo, May 17 2025 - 2025-05-17','2025-05-17',2);
INSERT INTO matches VALUES(2,'Laramie Precision Rifle Rodeo, April 19 2025 - 2025-04-19','2025-04-19',2);
INSERT INTO matches VALUES(3,'Cheyenne Precision Rifle Hoedown WPR PRS May 24th 2025 - 2025-05-24','2025-05-24',1);
CREATE TABLE shooters (
            shooter_id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT,
            wyco_number TEXT,
            wyco_points REAL,
            classification TEXT,
            membership_active INTEGER
        );
INSERT INTO shooters VALUES(1,'Saunders, Richard','206',287.0790000000000077,'',0);
INSERT INTO shooters VALUES(2,'Priest, Jake','252',281.9700000000000273,'A',1);
INSERT INTO shooters VALUES(3,'Carlson, Samuel','29',93.75,'',0);
CREATE TABLE scores (
            score_id INTEGER PRIMARY KEY AUTOINCREMENT,
            match_id INTEGER,
            shooter_id INTEGER,
            stage_name TEXT,
            place INTEGER,
            percentage REAL,
            points REAL, wyco_points REAL,
            FOREIGN KEY(match_id) REFERENCES matches(match_id),
            FOREIGN KEY(shooter_id) REFERENCES shooters(shooter_id)
        );
INSERT INTO scores VALUES(1,1,1,'Overall',1,100.0,80.0,100.0);
INSERT INTO scores VALUES(2,1,2,'Overall',2,96.25,77.0,96.25);
INSERT INTO scores VALUES(3,1,3,'Overall',3,93.75,75.0,93.75);
INSERT INTO sqlite_sequence VALUES('matches',7);
INSERT INTO sqlite_sequence VALUES('shooters',232);
INSERT INTO sqlite_sequence VALUES('scores',2521);
COMMIT;
